


.head1{
    color: white;
    margin-left: 450px;
    margin-top: 220px;
   
}

.head1 p{
    line-height: 28px;
    font-size: 18px;
    
}

.head2{
    display: flex;
    margin-left: 460px;
    color: whitesmoke;

}

.sr{
    margin-left: 10px;
    font-size: 30px;
    color: aqua;
}

.ss{
    font-size: 30px;
    color: white;
}

.imag{
    width: 400px;
    height: 400px;
    margin-left: 180px;
    margin-top: 180px;
    border-radius: 250px;
    border-left: 10px  solid orange;
    border-top: 10px  solid orange;
    animation: fade 2s infinite alternate;
   
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



  @media screen and (max-width: 768px) {
    .head1 {
        margin-left: 20px;
        margin-top: 100px;
        text-align: center;
    }

    .head1 p {
        font-size: 10px;
        line-height: 24px;
    }

    .head2 {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .sr, .ss {
        font-size: 24px;
        margin-left: 5px;
    }

    .imag {
        width: 150px;
        height: 150px;
        margin-left: 50px;
        margin-right: auto;
        margin-top: 150px;
        display: block;
        border-radius: 125px;
    }
}